@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F1F1F5;
    font-family: var(--main-font);
}

:root {
    --neutral-colors-white: #fff;
    --neutral-colors-black: #000;
    --neutral-colors-gray-75: #484a4d;
    --main-colors-blue: #031a70;
    --main-colors-sapphire: #0ca9ef;
    --main-colors-green: #9ddf42;
    --sapphire: #0091ff;
    --main-font: "Metropolis", sans-serif;
}

/*-------------------------------------base.html style-------------------------------------*/
.container__general {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.25fr 3.75fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar app__content";
}


/* Vertical navbar menu style codes */
.navbar {
    grid-area: navbar;
    background-color: var(--neutral-colors-white);
    color: #707070;
    width: 85px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    padding: 42px 6px 24px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    width: 75px;
    height: 75px;
}

.nav__logo img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.nav__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    text-align: center;
}


.nav__item {
    width: 72px;
    height: 72px;
    margin: 0 0 10px;
    padding: 17px 0 9px;
    cursor: pointer;
}

.nav__item a:focus {
    color: var(--main-colors-green);
}

.nav__item a i {
    font-size: 20px;
}

/* Nav menu style codes */
nav {
    width: 817px;
    height: 84px;
    position: fixed;
    left: calc(50% - 366px);
    margin-top: 32px;
    padding: 40px 17px;
    border-radius: 16px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
    background-color: var(--neutral-colors-white);
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1000;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all .3s ease;
    background: inherit;
}

.nav__menu h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--neutral-colors-black);
    padding-bottom: 30px;
}

.nav__menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    gap: 25px;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    text-transform: capitalize;
}

.nav__link span {
    color: var(--neutral-colors-black);
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.nav__link i,
.not .logout {
    color: var(--neutral-colors-gray-75);
}

.nav__link .logout {
    color: var(--neutral-colors-black);
    background-color: transparent;
    font-size: 24px;
}

.app__content {
    grid-area: app__content;
}

.main__content {
    margin-top: 110px;
    font-family: "Plus Jakarta Sans";
}

.contact {
    position: fixed;
    right: -60px;
    top: 73%;
    transform: translateY(-50%);
    z-index: 1000;
}


.contactBtn {
    outline: none;
    border: none;
    padding: 15px;
    background-color: #777777;
    color: var(--neutral-colors-white);
    border-radius: 28px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    transform: rotate(-90deg);
    position: relative;
    right: 0px;
    overflow: hidden;
    height: 70px;
    width: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-form-container {
    display: none;
    float: left;
    width: 40%;
    height: 60%;
    text-align: left;
    background-color: var(--neutral-colors-white);
    border-right: 1px solid #d3dbe8;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.form-group {
    margin-bottom: 1rem;
}

.form__title {
    height: 62px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    position: relative;
    box-sizing: border-box;
}

.btn-info {
    background-color: #00A3FE;
    border: none;
    color: var(--neutral-colors-white);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.btn-info:hover {
    color: var(--neutral-colors-white);
    box-shadow: 0 3px 3px 0 rgba(0, 163, 254, 0.4);
    ;
}

.btn.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    margin-bottom: 40px;
    color: #697177;
    opacity: .4;
    cursor: pointer;

}

.btn.close:hover {
    opacity: 1;
    color: var(--neutral-colors-black);
}


/*-------------------------------------dict.html style-------------------------------------*/
.dict__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    border-radius: 11px;
    padding: 40px 50px;
    max-width: 817px;
    margin: 0 auto;
}

.dict__body {
    height: 500px;
}

.dict__header {
    text-align: center;
}

.dict__header h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin: 10px 0;
    color: var(--neutral-colors-black);
}

.dict__header p {
    font-size: 13px;
    line-height: 1.38;
    color: var(--neutral-colors-black);
}

.dict__content {
    margin-top: 5vh;
}

.dict__searchHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.dict__input {
    outline: none;
    position: relative;
}

#searchInput {
    border: none;
    outline: none;
    width: 318px;
    height: 51px;
    padding: 15px 15px 15px 20px;
    border-radius: 28px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
    background-color: var(--neutral-colors-white);
    font-size: 14px;
    font-weight: 300;
}

#searchInput:focus {
    color: var(--neutral-colors-black);
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

#searchInput:focus::placeholder {
    transform: translateX(20px);
}

.search__button {
    outline: none;
    border: none;
    border-radius: 28px;
    background-image: linear-gradient(to bottom, #42cf59, #34a77e);
    box-shadow: inset 1px -4px 5px 0px rgba(0, 0, 0, 0.2);
    color: var(--neutral-colors-white);
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 0px 3px 16px;
}

.search__button:focus {
    outline: 0 !important;
}

.search__button:hover {
    background-image: linear-gradient(180deg, #34a77e -26%, #289467 115%);
    border-color: var(--main-colors-green);
    border-width: 3px 0 0;
    color: var(--neutral-colors-white);
}

#widget-1 {
    width: 100%;
    margin-top: 40px;
}

#widget-1 .pwdby {
    display: none !important;
}


/*--------------------------------------register.html style ----------------------------------------*/
#register__page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 72, 171, 1) 0%, rgba(1, 11, 70, 1) 74%, rgba(0, 10, 69, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register {
    background-color: var(--neutral-colors-white);
    width: 800px;
    padding: 35px;
    border-radius: 16px;
    transform: translateY(40px);
}

.register__login__logo {
    width: 230px;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 100px;
}

.register__login__logo img {
    width: 100%;
}

.btn {
    color: white;
    background-color: var(--main-colors-blue);
    padding: 10px 25px;
    outline: 0;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    transition: 200ms;
}

.btn:hover {
    color: var(--neutral-colors-white);
    box-shadow: 0 0 10px var(--main-colors-green);
}

.first__step {
    background-color: var(--main-colors-sapphire);
}

.submit {
    background-color: var(--main-colors-green);
}

/*--------------------------------------success.html style ----------------------------------------*/
.success h1,
.success-message,
h2 {
    text-align: center;
    padding-top: 30px;
}

/*--------------------------------------cancel.html style ----------------------------------------*/
#cancel__page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel h1,
.cancel-message {
    text-align: center;
    padding-top: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*--------------------------------------login.html style ----------------------------------------*/
#login__page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 72, 171, 1) 0%, rgba(1, 11, 70, 1) 74%, rgba(0, 10, 69, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    max-width: 90%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-append {
    height: 38px !important;
}


/*--------------------------------------profile.html style ----------------------------------------*/
.profile__general {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
    padding: 40px 0px;
}

.profile_menuCol {
    width: 320px;
    margin-right: auto;
}

.profile__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    width: 320px;
    min-height: 65px;
    padding: 18px 24px 17px;
    border-radius: 15px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
    background-color: var(--neutral-colors-white);
    border: 2px solid hsla(0, 0%, 100%, 0);
    margin-bottom: 20px;
    cursor: pointer;
    padding-right: 40px;
    border: 2px solid var(--main-colors-sapphire);
}

.profile__image {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__image img {
    width: 100%;
}

.profile__title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: normal;
    color: var(--neutral-colors-black);
}

.profile__card::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--neutral-colors-gray-75);
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 24px;
    transition-duration: .3s !important;
    transition: all;
}

.profile__card:hover::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--main-colors-blue);
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    transition-duration: .3s !important;
    transition: all;
}

.profile__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__icon img {
    width: 100%;
}

.profile__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #f1f1f5;
    font-size: 18px;
    font-weight: 600;
}

.profile__contentHolder a {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--neutral-colors-black);
    text-decoration: none;
}

.avatar__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.avatar__image img{
    border-radius: 50%;
    border: 5px solid var(--main-colors-sapphire);
    outline: 0;
}

.form-content .round {
    position: absolute;
    top: 225px;
    transform: translateX(225px);
    background-color: var(--main-colors-sapphire);
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.round i {
    color: #fff;
    transform: translateY(-10px);
}

#div_id_avatar>div>input[type='file'] {
    display: inline-flex;
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

#div_id_avatar>div>input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.save__btn {
    background-color: var(--main-colors-sapphire);
}

.reset__btn {
    background-color: var(--main-colors-blue);
}

.password__change__btn {
    background-color: var(--main-colors-green);
}


/*-------------------------------------module.html style ------------------------------------*/
.module__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.module__stones {
    margin: 40px 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    z-index: 11;
}

.module__stones h1 {
    font-family: "Plus Jakarta Sans";
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
}

.module__stone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


/* Even paragraphs */
.module__stone:nth-of-type(2n) {
    left: -50px;
}

.module__stone:nth-of-type(3n) {
    left: -100px;
}

.module__stone a {
    display: block;
    width: 150px;
    height: 150px;
    transition: 200ms;
}

.module__stone a img {
    width: 100%;
    border-radius: 50%;
    border: 6px solid var(--main-colors-green);
}

.module__stone:hover a {
    width: 160px;
}

.module__stone:hover img {
    box-shadow: 0 0 10px var(--main-colors-green);
}

/*-------------------------------------lesson.html style ------------------------------------*/
.lesson__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0px;
    margin-top: 120px;
}

.lesson__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 817px;
    background: var(--main-colors-blue);
    color: white;
    border-radius: 45px;
    height: 70px;
}

.section__container {
    margin-top: 15px;
}

.content__stones {
    margin: 40px 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    z-index: 11;
}

.content__stones h1 {
    font-family: "Plus Jakarta Sans";
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
}

.content__stone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


/* Even paragraphs */
.content__stone:nth-of-type(2n) {
    left: -50px;
}

.content__stone:nth-of-type(3n) {
    left: -100px;
}

.content__stone a {
    display: block;
    width: 150px;
    height: 150px;
    transition: 200ms;
}

.content__stone a img {
    width: 100%;
    border-radius: 50%;
    border: 6px solid var(--main-colors-blue);
}

.content__stone:hover a {
    width: 160px;
}

.content__stone:hover img {
    box-shadow: 0 0 10px var(--main-colors-blue);
}

/*-------------------------------------word_detail.html style ------------------------------------*/
.listen__record__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.listen__record__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
    border-radius: 45px;
    width: 800px;
    padding: 50px 20px;
    background: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url("../images/login_register_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.listen__record__word {
    color: var(--neutral-colors-white);
}

.listen__record__recordings {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
}

.listen__record__btns {
    display: flex;
    gap: 20px;
}

.record__btn {
    background-color: var(--main-colors-sapphire);
}

.next__btn {
    background-color: var(--main-colors-green);
}

#compareModalBody {
    margin-left: 10%;
    text-align: center;
}

/*---------------------Audio Player on the word_detail.html--------------------*/
.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.icon-container {
    width: 60px;
    height: 60px;
    /* background-color: #DE5E97; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    width: 100%;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
    color: var(--neutral-colors-white);
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#0ca9ef, #0ca9ef);
    background-repeat: no-repeat;
    margin-right: var(--space);
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--main-colors-sapphire);
}

.timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--main-colors-sapphire);
}

.timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: var(--main-colors-sapphire);
}

.timeline::-webkit-slider-thumb:hover {
    background-color: var(--main-colors-sapphire);
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-moz-range-thumb:hover {
    background-color: var(--main-colors-sapphire);
}

.timeline:hover::-moz-range-thumb {
    opacity: 1;
}

.timeline::-ms-thumb:hover {
    background-color: var(--main-colors-sapphire);
}

.timeline:hover::-ms-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
    color: var(--neutral-colors-white);
}
