{% extends "base.html" %}

{% block body %}
<div id="contactFormContainer" class="contact-form-container">
    <div class="container mt-3">
      <h1>ChatterFox</h1>
      <form method="post" action="{% url 'contact:contact_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      <button class="btn close" onclick="hideContactForm()"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
  </div>
{% endblock body %}
