{% extends 'base.html' %}
{% load static %}

{% block nav__title %}
  Dictionary
{% endblock %}

{% block content %}

  <div class="dict__container">
    <div class="dict__body">
      <div class="dict__header">
        <h4>ChatterFox Spoken Dictionary</h4>
        <p>Learn how words are pronounced by real people and in context</p>
      </div>
      <div class="dict__content">
        <div class="dict__searchHolder">
          <div class="dict__input">
            <input id="searchInput" type="text" placeholder="What do you want to pronounce..." onkeypress="handleKeyPress(event)" autocomplete="on" />
            </div>
            <a href="{% url "dictionary:search" %}?q={{ searchInput.value }}"><button id="searchButton" onclick="handleSearch()" class="searchBtn">Hear Pronunciation</button></a> 
           </div>
        <div class="dict__suggestions">
          <h4 id="suggest">You may want to try these:</h4>
          <div class="dict__items">
            <div class="dict__item">
              <button onclick="handleSearch('hello')" class="itemBtn" id="helloBtn">Hello</button>
            </div>
            <div class="dict__item">
              <button onclick="handleSearch('world')" class="itemBtn" id="worldBtn">World</button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
