{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block nav__title %}
  Login Form
{% endblock %}

{% block container_id %}login__page{% endblock container_id %}

{% block content %}
<div class="register__login__logo">
  <a href="{% url "modules" %}"><img src="/static/images/Logo.svg" alt="Logo" /></a>
</div>
  <div class="login">
    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
      <div class="card-header justify-content-center">
        <h3 class="font-weight-light my-1 text-center">Sign In</h3>
      </div>
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
            {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
            {% endfor %}
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endif %}
      <div class="card-body">
        <div class="container">
          <form method="post" class="my-class">
            {{ form|crispy }}
            <div class="form-row">
              <div class="col-md-10 offset-md-1">
                <div class="form-group mt-0 mb-1">
                  <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="small">
          <a href="{% url 'users-register' %}">Don't have an account yet? Go to signup</a><br />
          <a href="#"><i>Forgot Password?</i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
