{% extends "game_base.html" %}

{% block title %}
    Matching Game
{% endblock title %}

{% block main %}

{% if words1 %}
    <div id="game-board" class="board">
        <div class="voices">
            {% for word in words1 %}
            <div class="card" data-content="{{word.term}}" data-id="{{word.id}}" data-type="voice" onclick="selectCard(event)">🔊</div>
            {% endfor %}
        </div>
        <div class="words">
            {% for word in words2 %}
            <div class="card" data-content="{{word.term}}" data-id="{{word.id}}" data-type="word" onclick="selectCard(event)">{{ word.term }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div>No word available</div>
{% endif %}

{% endblock main %}