{% extends "base.html" %}


{% block nav__title %}
   {{module.name}}
{% endblock nav__title %}

{% block body %}
<div class="module__container">
    <ul>
        {% for section in sections %}
            <li><div class="section__container">
                <h2>{{section.name}}</h2>
                <ul>
                        {% for content in contents %}
                            {% if content.section == section %}
                                    <li>
                                        <div class="content__container">
                                            <img src="{{ content.image.url }}" alt="{{ content.name }}">
                                            {{ content.name }}
                                        </div>
                                    </li>
                            {% endif %}
                    {% endfor %}
                </ul>
            </div></li>
    {% endfor %}
    </ul>
</div>
{% endblock body %}

