{% extends "base.html" %}

{% block nav__title %}
    {{ lesson.title }}
{% endblock nav__title %}

{% block body %}
    <div class="lesson__container">
        {% for section_content in section_contents %}
        <h2>{{ section_content.section.title }}</h2>
        <ul>
            {% for content in section_content.contents %}
                <li>{{ content.title }}</li>
            {% empty %}
                <li>No contents available.</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>

{% endblock body %}