{% extends "base.html" %}

{% block nav__title %}Plans{% endblock nav__title %}


{% block body %}
  <h2>Our Plans</h2>
  <div class="plans">
    {% for product in products %}
      <div class="plan">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <ul>
          {% for price in product.prices.all %}
            <li>{{ price.nickname }}: {{ price.unit_amount  }} {{ price.currency }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>


{% endblock body %}