{% extends "base.html" %}
{% load static %}

{% block nav__title %}Profile{% endblock nav__title %}

{% block body %}

<div class="profile__container">
    <div class="profile__menuCol">
        <div class="profile__menu">
            <div class="profile__menuItem">
                <img src="{% static 'static/images/logo.jpeg' %}" alt="Profile Picture">
                <span>{{ user.username }}</span>
            </div>
            <div class="profile__menuItem">Coaching Credit: 0</div>
            <div class="profile__menuItem"><a href="#">Terms & Conditions</a></div>
        </div>
    </div>
    <div class="profile__contentCol">
   {% block profile__update__content %}
    <h2>User Profile</h2>
    <p>Username: {{ profile.user.username }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Country: {{ profile.country }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Language: {{ profile.language }}</p>
    <p>Age: {{ profile.age }}</p>
    <a href="#">Edit</a>
   {% endblock profile__update__content %}


    
    </div>
</div>

{% endblock body %}