{% extends "base.html" %}

{% load static %}

{% block nav__title %}{% endblock nav__title %}

{% block body %}
<div class="search">
    <!-- 1. The widget will replace this <div> tag. -->
        <div id="widget-1">
            <form id="searchForm" method="GET" action="">
                <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Enter Word Here" value="{{ query }}">
              </form>
        </div>
</div>

<script src="{% static 'js/search.js' %}"></script>
{% endblock body %}
