{% extends 'base.html' %}
{% load static %}

{% block nav__title %}
  Listen and Record
{% endblock %}

{% block content %}
  <div class="listen__record__container">
    <div class="listen__record__content">
      <div class="listen__record__word">
        <h1>{{ word.text }}</h1>
      </div>
      <div class="listen__record__recordings">
        <!-- Alloy -->
        <div class="audio-player" id="audio-player-alloy">
          <div class="icon-container">
            <img src="{% static './images/alloy.png' %}" alt="man-avatar" />
          </div>
          <audio id="audio-alloy">
            <source src="{{ word.audio_file_alloy.url }}" type="audio/mp3" />Your browser does not support the audio element.
          </audio>
          <div class="controls">
            <button class="player-button" onclick="togglePlayPause('audio-alloy', this)"><i class="fa-solid fa-play"></i></button>
            <input type="range" class="timeline" id="timeline-alloy" max="100" value="0" onchange="seekAudio('audio-alloy', 'timeline-alloy')" />
            <button class="sound-button"><i class="fa-solid fa-volume-high"></i></button>
          </div>
        </div>

        <!-- Nova -->
        <div class="audio-player" id="audio-player-nova">
          <div class="icon-container">
            <img src="{% static './images/nova.png' %}" alt="man-avatar" />
          </div>
          <audio id="audio-nova">
            <source src="{{ word.audio_file_nova.url }}" type="audio/mp3" />Your browser does not support the audio element.
          </audio>
          <div class="controls">
            <button class="player-button" onclick="togglePlayPause('audio-nova', this)"><i class="fa-solid fa-play"></i></button>
            <input type="range" class="timeline" id="timeline-nova" max="100" value="0" onchange="seekAudio('audio-nova', 'timeline-nova')" />
            <button class="sound-button"><i class="fa-solid fa-volume-high"></i></button>
          </div>
        </div>
      </div>
      <div class="listen__record__btns">
        {% if previous_word_id %}
          <button class="btn previous__btn" onclick="window.location.href='{% url 'modules:record_audio' previous_word_id %}'"><span><i class="fa-solid fa-chevron-left"></i></span> Previous</button>
        {% endif %}
        <button class="btn record__btn" id="recordButton" onclick="toggleRecording()"><span><i class="fa-solid fa-microphone"></i></span> Record</button>
        {% if next_word_id %}
          <button class="btn next__btn" onclick="window.location.href='{% url 'modules:record_audio' next_word_id %}'">Next <span><i class="fa-solid fa-chevron-right"></i></span></button>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="compareModal" tabindex="-1" aria-labelledby="compareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="compareModalLabel">Compare Audio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="compareModalBody">
          <!-- Comparison content will be loaded here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><span><i class="fa-solid fa-arrow-rotate-left"></i></span> Try Again</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'modules:record_audio' next_word_id %}'">Next <span><i class="fa-solid fa-chevron-right"></i></span></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js__content %}
  <script>
      let mediaRecorder;
      let audioChunks = [];
      let isRecording = false;
      const wordId = {{ word.id }};

      function toggleRecording() {
          if (isRecording) {
              stopRecording();
          } else {
              startRecording();
          }
      }

      function startRecording() {
          // Clear previous audio chunks
          audioChunks = [];
          navigator.mediaDevices.getUserMedia({ audio: true })
              .then(stream => {
                  mediaRecorder = new MediaRecorder(stream);
                  mediaRecorder.start();
                  mediaRecorder.ondataavailable = event => {
                      audioChunks.push(event.data);
                  };
                  mediaRecorder.onstop = () => {
                      const audioBlob = new Blob(audioChunks, { type: 'audio/mp3' });
                      const formData = new FormData();
                      formData.append('media', audioBlob);
                      fetch(`/modules/record_audio/${wordId}/`, {
                          method: 'POST',
                          body: formData,
                          headers: {
                              'X-CSRFToken': '{{ csrf_token }}'
                          }
                      }).then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              $('#compareModal').modal('show');
                              loadComparisonData();
                          }
                      })
                      .catch(error => console.error('Error:', error));
                  };
                  isRecording = true;
                  document.getElementById('recordButton').innerHTML = '<span><i class="fa-solid fa-stop"></i></span> Stop';
              })
              .catch(error => console.error('Error accessing media devices.', error));
      }

      function stopRecording() {
          mediaRecorder.stop();
          isRecording = false;
          document.getElementById('recordButton').innerHTML = '<span><i class="fa-solid fa-microphone"></i></span> Record';
      }

      function loadComparisonData() {
          fetch(`/modules/compare_audio/${wordId}/`)
              .then(response => response.text())
              .then(html => {
                  document.getElementById('compareModalBody').innerHTML = html;
              })
              .catch(error => console.error('Error loading comparison data.', error));
      }

      function toggleAudio(audio, button) {
          if (audio.paused) {
              audio.play();
              button.innerHTML = '<i class="fa-solid fa-pause"></i>';
          } else {
              audio.pause();
              button.innerHTML = '<i class="fa-solid fa-play"></i>';
          }
      }

      function changeTimelinePosition(audio, timeline) {
          const percentagePosition = (100 * audio.currentTime) / audio.duration;
          timeline.style.backgroundSize = `${percentagePosition}% 100%`;
          timeline.value = percentagePosition;
      }

      function audioEnded(button) {
          button.innerHTML = '<i class="fa-solid fa-play"></i>';
      }

      function changeSeek(audio, timeline) {
          const time = (timeline.value * audio.duration) / 100;
          audio.currentTime = time;
      }

      function toggleSound(audio, button) {
          audio.muted = !audio.muted;
          button.innerHTML = audio.muted ? '<i class="fa-solid fa-volume-xmark"></i>' : '<i class="fa-solid fa-volume-high"></i>';
      }

      document.querySelectorAll('.audio-player').forEach(player => {
          const audio = player.querySelector('audio');
          const playButton = player.querySelector('.player-button');
          const timeline = player.querySelector('.timeline');
          const soundButton = player.querySelector('.sound-button');

          playButton.addEventListener('click', () => toggleAudio(audio, playButton));
          audio.ontimeupdate = () => changeTimelinePosition(audio, timeline);
          audio.onended = () => audioEnded(playButton);
          timeline.addEventListener('input', () => changeSeek(audio, timeline));
          soundButton.addEventListener('click', () => toggleSound(audio, soundButton));
      });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
