{% extends 'base.html' %}

{% block content %}
  <h1>Words</h1>
  <ul>
    {% for word in words %}
      <li>
        <a href="{% url 'modules:record_audio' word.id %}">{{ word.text }}</a>
        <audio controls>
          <source src="{{ word.audio_file_alloy.url }}" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
        <audio controls>
            <source src="{{ word.audio_file_nova.url }}" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

